@{
    ViewBag.Title = @WAD.Resources.General.About;
}



<div class="flex-column" style="margin: 10%;">
    <h2>@WAD.Resources.General.About</h2>

    <p>
        @WAD.Resources.About.About_text
    </p>
</div>