@{
    ViewBag.Title = @WAD.Resources.General.Home;
}

<style>
    h1 {
        align-self: center;
        padding-left: 10%;
        font-size: 100px;
    }

    div {
        display: inline-flex;
        padding-left: 15%;
    }
</style>
    <div>
        <img src="~/Content/images/png-online-store-9.png" />
        <h1>arba.uz</h1>
    </div>




